/*css初始化*/
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
dl,
dt,
dd,
ol {
	margin: 0;
	padding: 0;
	/*font: 14px microsoft yahei;*/
    cursor: default;
}
body {
	background-color: #F6FAFF;
}

html,
body,
#app {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

img {
	border: 0 none;
	vertical-align: middle;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover{
    color: #333;
}
input {
	border: 0 none;
	outline-style: none;
}

th {
	background-color: #E8EEF3;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	zoom: 1;
}
.routeBack{
    height: 40px;
    line-height: 40px;
}
.routeBack a{
    font-size: 18px;
    color: #333;
}
.greenText{
    color: green;
}
.color999{
    color: #999;
}
.el-button{
    font-size: 16px;
}
/* element-ui 公共设置 */
.el-menu:first-child{
    height: 100%;
    padding-bottom: 140px;
}
.el-menu-item, .el-submenu__title{
    background: #1d2837;
    height: 66px;
    line-height: 66px;
    font-size: 16px;
}
.el-breadcrumb__inner{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
/*左侧滚动条样式*/
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: #ccc;
}
.leftBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
}
.leftBar::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,0,0,0);
}
.leftBar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: #ccc;
}
/*排课管理样式*/
.timeTableSet .el-calendar{
    border-radius: 10px;
}
.timeTableSet .el-calendar-table .el-calendar-day{
    height: auto !important;
    min-height: 85px;
    cursor: default !important;
    padding:20px;
    position: relative;
    font-size: 16px;
}
.timeTableSet .el-calendar .el-calendar-day:hover{
    background: none !important;
}
.timeTableSet .el-calendar .el-button--primary{
    border: 1px solid #1C89E8;
    background: none;
    color: #1C89E8;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 10px auto 0 auto;
    width: 100%;
}
.timeTableSet .el-calendar .el-dropdown{
    width: 100%;
}
/*每日食谱样式*/
.dayFood .el-switch .el-switch__label *{
    font-size: 18px;
}
.dayFood .el-switch__core{
    height: 20px;
    width: 50px !important;
}
.dayFood .el-calendar{
    border-top: 1px solid #ddd;
}
.dayFood .el-calendar-table .el-calendar-day{
    height: auto !important;
    min-height: 85px;
    cursor: default !important;
    padding:20px;
    position: relative;
    font-size: 16px;
}
.dayFood .el-calendar .el-calendar-day:hover{
    background: none !important;
}
.dayFood .el-calendar .el-dropdown{
    width: 100%;
}
/*报名管理样式*/
.signSet .el-form-item__content{
    margin-right: 0 !important;
    margin-left: 0 !important;

}
.signSet .el-col-2{
    margin: 0 0 0 -60px;
    text-align: center;
}
.signSetStyle .el-form-item__content{
    width: 80%;
}
/*班级管理样式*/
.classSet .el-form-item{
    width: 100%;
}
.classSet .el-form-item__content{
    width: 80%;
}
.classSet .el-select{
    width: 100%;
}
/*学生管理样式*/
.studentSet .el-form-item{
    width: 100%;
}
.studentSet .el-form-item__content{
    width: 80%;
}
.studentSet .el-select{
    width: 100%;
}
/*教师管理样式*/
.teacherSet .el-form-item{
    width: 100%;
}
.teacherSet .el-form-item__content{
    width: 80%;
}
.teacherSet .el-select{
    width: 100%;
}
/*教师管理弹窗设置*/
.el-message-box{
    width: 600px;
}
.el-message-box__content{
    font-size: 16px;
    margin: 25px 15px;
}
.el-message-box__btns{
    padding: 15px 15px 0;
}
.el-button--small, .el-button--small.is-round {
    padding: 12px 30px;
    font-size: 16px;
}
/*课程管理样式*/
.courseSet .el-form-item{
    width: 100%;
}
.courseSet .el-form-item__content{
    width: 80%;
}
.courseSet .el-select{
    width: 100%;
}

.el-upload-list--picture .el-upload-list__item{
    width: 20%;
    float: left;
    margin: 0 20px 20px 0;
}
/*学校介绍 样式*/
.schoolIntroduce .el-input__inner{
    width: 25%;
}
/*学校公告 样式*/
.schoolNotice .el-form-item{
    width: 100%;
}
.schoolNotice .el-form-item__content{
    width: 80%;
}
.schoolNotice .el-select{
    width: 100%;
}
/*添加排课样式*/
.addTimeTable .el-input{
    width: 40%;
}
.addTimeTable .el-select{
    width: 40%;
}
.addTimeTable .el-select .el-input{
    width: 100%;
}
.addTimeTable .el-form-item__content{
    font-size: 18px;
    margin-bottom: 10px;
}
.addTimeTable .el-form{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}